*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 20px;
  font-family: 'arial';
  line-height: 1.5em;
}

body {
  font-size: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
