.image {
  $self: &;
  $aspect-ratio--sixteen-nine: 56.25%; //at 16:9 asepct ratio, the height of the image equals 56.25% of the width

  margin: 0;

  &--enforce-aspect-ratio {
    //TODO: we have control of all the assets, we don't need to enforce image formats or sizes
    #{$self}__wrapper {
      height: 0;
      overflow: hidden;
      padding-top: $aspect-ratio--sixteen-nine;
    }

    #{$self}__image {
      width: 100%;
      height: auto;

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__wrapper {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
    pointer-events: none;
  }

  &__meta {
    font-size: 0.8rem;
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #d4d2d2;
  }
}
