{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "class-properties": {},
        "styled-jsx": {
          "plugins": [
            // ["styled-jsx-plugin-postcss", {}], TODO: look through loaders etc
            [
              "styled-jsx-plugin-sass",
              {
                "sassOptions": {}
              }
            ]
          ]
        }
      }
    ]
  ],
  "plugins": []
}
