.page-content {
  $self: &;
  max-width: 100%;

  + #{$self} {
    margin-top: 2rem;
  }

  &--full {
    margin: 0 auto;

    > #{$self} {
      max-width: 100%;
    }
  }

  &--wide {
    > #{$self}__inner {
      max-width: 1240px;
    }
  }

  &--normal {
    > #{$self}__inner {
      max-width: 980px;
    }
  }

  &--narrow {
    > #{$self}__inner {
      max-width: 768px;
    }
  }

  &--background {
    padding: 2rem 0;
  }

  &--red {
    background-color: #e76a6a;
  }

  &--grey {
    background-color: #c1c1c1;
  }

  &--blue {
    background-color: #5c5ccc;
  }

  &__inner {
    margin: 0 auto;
    padding: 0 2rem;
  }
}
