.inline-content {
  $break-at-sm: 25rem; //400px
  $break-at-md: 50rem; //800px
  $break-at-lg: 64rem; //1024px
  $gutter: 2rem;

  margin: $gutter 0;

  // &::after {
  //   content: '';
  //   clear: both;
  //   display: table;
  // }

  &--left {
    @media screen and (min-width: $break-at-md) {
      float: left;
      width: 50%;
      margin: 0 $gutter 1rem 0;
    }
  }

  &--right {
    @media screen and (min-width: $break-at-md) {
      float: right;
      width: 50%;
      margin: 0 0 1rem $gutter;
    }
  }
}
