.article-top {
  $break-at-md: 50rem; //800px

  &__lead {
    max-width: 768px;
    margin: 2rem auto 0 auto;

    @media screen and (min-width: $break-at-md) {
      padding: 0 1rem;
    }

    &--overlap {
      margin-top: 1rem;

      @media screen and (min-width: $break-at-md) {
        padding: 0.5rem 0 0 2rem;
        margin-top: -2.5rem;
        background-color: white;
      }
    }
  }

  .image__wrapper {
    z-index: -1;
  }
}
