.text {
  $break-at-sm: 25rem; //400px
  $break-at-md: 50rem; //800px
  $break-at-lg: 64rem; //1024px

  &__text {
    margin: 0;
  }

  &--body {
    font-size: 1rem;
  }

  &--lead {
    font-size: 1rem;
    line-height: 1.5em;

    @media screen and (min-width: $break-at-md) {
      font-size: 1.5rem;
    }
  }

  &--small {
    font-size: 0.8rem;
  }

  &--label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8889rem;
  }
}
