.heading {
  $self: &;
  $break-at-sm: 25rem; //400px

  margin: 0;

  &--level-1 {
    font-size: 4rem;
    line-height: 1.1em;
  }

  &--level-2 {
    font-size: 2rem;
  }
  &--level-3 {
    font-size: 1rem;
  }
  &--level-4 {
    font-size: 1rem;
  }
  &--level-5 {
    font-size: 1rem;
  }
  &--level-6 {
    font-size: 1rem;
  }

  &--headline {
    font-size: 2rem;
    line-height: 1.1em;
    margin-top: 1rem;

    @media screen and (min-width: $break-at-sm) {
      font-size: 4rem;
    }

    #{$self}__text {
      background-color: white;
    }
  }
}
