.chapter-heading {
  $self: &;
  $gutter: 2rem;
  $break-at-md: 50rem; //800px

  &--overlap {
    position: relative;

    #{$self}__text {
      @media screen and (min-width: $break-at-md) {
        position: absolute;
        left: 0;
        top: 2rem;
        z-index: 10;
      }
    }

    #{$self}__image {
      @media screen and (min-width: $break-at-md) {
        margin-left: $gutter;
      }
    }

    #{$self}__subtitle {
      @media screen and (min-width: $break-at-md) {
        margin-left: 4rem;
      }
    }
  }

  &__subtitle {
    line-height: 1;
    margin-top: 0.5rem;
    background-color: white;
    display: inline-block;

    @media screen and (min-width: $break-at-md) {
      font-size: 2rem;
    }
  }
}
